@import url(./vendor/fonts/fonts.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #F4F4F4;
}



.header {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;

  &__logo {
    width: 120px;
    height: 50px;
    margin: 0 0 0 40px;
    color: #fff;
    background-color: #333;
  }

  &__navigation {
    margin: 0 40px 0 0;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
  }

  &__menu-link {
    color: #333;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
  }

  &__menu-link:hover {
    opacity: .75;
  }

  &__menu-button {
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #000 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
    border-radius: 50px;
  }

  &__menu-button:hover {
    background-position: left bottom;
  }
}



.intro {
  margin: 80px 0 0 0;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: .52fr .48fr;
  color: #F4F4F4;
  background-color: #333;
  border-radius: 60px;

  &__image {
    grid-area: 1 / 1 / -1 / -1;
    width: 85%;
    border-bottom-left-radius: 60px;
  }

  &__overlay {
    grid-area: 1 / 2 / -1 / -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 10px;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
  }

  &__description {
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}

.education {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
  }

  &__line {
    width: 160px;
    height: 1px;
    margin: 30px auto 0;
    background-color: #333;
  }

  &__description {
    margin: 30px 15% 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }
}

.guarantees {
  padding: 60px;

  &__title {
    font-weight: 600;
    font-size: 44px;
    text-align: center;
  }
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__cards-container {
    padding: 20px;
    gap: 20px;
    border-radius: 50px;
  }

  &__cards-container_color_black {
    background-color: #333;
  }

  &__cards-container_type_grid {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
  }

  &__cards-container_type_flex {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    padding: 30px;
    background-color: #fff;
    border-radius: 40px;
  }

  &__card-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
  }

  &__card-description {
    margin: 20px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.prices {
  padding: 60px;

  &__title {
    font-weight: 600;
    font-size: 44px;
  }
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.course {
  max-width: 360px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;

  &__image {
    width: 100%;
    border-radius: 10px;
  }

  &__title {
    margin: 30px 0 0;
    font-weight: 600;
    font-size: 24px;
  }

  &__description {
    margin: 30px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  &__button {
    width: 200px;
    height: 50px;
    margin: 30px 0 0;
    padding: 0;
    border: 0;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(to right, #000 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  &__button:hover {
    background-position: left bottom;
  }
}

.faq {
  width: 70%;
  padding: 60px;
  margin: 0 auto;

  &__title {
    font-weight: 600;
    font-size: 44px;
  }
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: rgba($color: #333, $alpha: .25) solid 1px;

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background-image: url(../src/images/cross_color_black.svg);
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
  }

  &__button_active {
    transform: rotate(90deg);
  }

  &__answer-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }

  &__answer {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
}
